img{

}

#list{

    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;


    width: 1988px;
    height: 1300px;
    alignment: center;


}

#item{
    font-size: 80px;
    display: inline-block;
    width: 950px;
}